::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.--scrollbar-container {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 10px;
	padding: 2px;
	padding-right: 3px;
}

.--scrollbar {
	position: relative;
	top: 0;
	right: 0;
	content: "";
	height: 10vh;
	width: 5px;
	border-radius: 2.5px;
	background: #ef3a3a;
	opacity: 0;
	--webkit-transition: opacity ease-out .5s, top ease-out .4s;
	-moz-transition: opacity ease-out .5s, top ease-out .4s;
	-ms-transition: opacity ease-out .5s, top ease-out .4s;
	-o-transition: opacity ease-out .5s, top ease-out .4s;
	transition: opacity ease-out .5s, top ease-out .4s;
}