* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: linear-gradient(30deg, red, blue);
  background-attachment: fixed;
  height: 100%;

  /*padding: 5rem 0 0;*/
  /*overflow-y: hidden;*/
}

header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  max-width: 420px;
  width: 100%;
  margin: auto;
}

header>img {
  width: 100%;
}

#root {
  position: relative;
  top: 0;
}

main {
  position: relative;
  top: 0;
  min-height: 100%;
  padding: 0 0 5rem !important;
}

/* get rid of some default style with semantic ui */
main.ui.grid {
  margin-top: 0; 
}

div.--banner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 70vh;
  width: 100%;
  max-width: 1080px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
