nav {
  background-color: rgba(0, 0, 0, 0) !important;
  /*border-bottom: 1px solid lightgrey !important;*/
  height: 10%;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

header.masthead.segment {
  border-radius: 0;
  padding: 0;
}

nav.ui.huge.menu {
  font-size: 1.05rem;
}

nav.ui.menu .item {
	-webkit-transition: color ease-out .4s;
  -moz-transition: color ease-out .4s;
  -ms-transition: color ease-out .4s;
  -o-transition: color ease-out .4s;
  transition: color ease-out .4s;
}

nav.ui.menu.inverted .item {
	color: white !important;
}

nav.ui.menu.inverted .item:not(.header):hover::before {
	border-bottom: 1.5px solid white !important;
}


nav.ui.menu .item:hover,
nav.ui.menu .item.active {
  background: none !important;
}

nav.ui.menu .item:not(.header):hover::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 17.5%;
  border-bottom: 1.5px solid #3e3e3e;
  -webkit-animation: increase .3s;
  -moz-animation: increase .3s;
  -o-animation: increase .3s;
  animation: increase .3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
}

nav.ui.menu .header {
  font-family: "Georgia", "sans-serif";
  font-weight: 200 !important;
}

@keyframes increase {
  to {
    width: 65%;
  }
}

/*nav.ui.menu .item:hover {
	color: red !important;
}*/


/*nav.--nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: auto;
	right: 0;
	min-width: 100%;
	width: 100%;
	border-radius: 0 !important;
	z-index: 101;
}*/